.car-details-wrapper {
  display: flex;
  margin-left: 15px;
}

.selected-car {
  width: 800px;
  .selected-car-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.selected-car-info {
  margin-left: 15px;
  .car-properties {
    list-style-type: none;
    padding: 0;
    li + li {
      margin-top: 15px;
    }
    li {
      span {
        font-weight: bold;
      }
    }
  }
}
