<mat-spinner *ngIf="!isLoaded && carDetailsPage" class="spinner"></mat-spinner>
<div class="car-details-wrapper" [ngClass]="{ 'details-main': carDetailsPage }">
  <div class="selected-car" *ngIf="car">
    <img
      ngDefaultControl
      class="selected-car-img"
      src="{{ car.image }}"
      alt="selected-car-img"
    />
  </div>
  <div class="selected-car-info" *ngIf="car && !isEdit">
    <div class="car-info-header">
      <h3 *ngIf="!isEdit">{{ car.model }}</h3>
      <div *ngIf="carDetailsPage">
        <!-- (click)="openDialog(dealer)" -->
        <button class="edit-btn" (click)="openEditForm()">
          <mat-icon aria-hidden="false" aria-label="edit icon">edit</mat-icon>
        </button>
        <button class="delete-btn" (click)="openConfirmDialog(car)">
          <mat-icon aria-hidden="false" aria-label="delete icon"
            >delete</mat-icon
          >
        </button>
      </div>
    </div>
    <ul class="car-properties" *ngIf="!isEdit">
      <li>
        Dealers: <span>{{ car.brand }}</span>
      </li>
      <li>
        Class: <span>{{ car.class }}</span>
      </li>
      <li>
        Year: <span>{{ car.year }}</span>
      </li>
      <li>
        Color: <span>{{ car.color }}</span>
      </li>
      <li>
        Transmisson: <span>{{ car.transmission }}</span>
      </li>
      <li>
        <p class="car-description">{{ car.description }}</p>
      </li>
    </ul>
  </div>
  <app-car-form *ngIf="isEdit" [car]="car"></app-car-form>
</div>
