@import "../../../../styles/colors.scss";

.card-wrapper {
  margin-bottom: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  button {
    margin-top: -10px;
  }
}
.card-content-img {
  height: 150px;
  object-fit: cover;
}
.card-actions {
  margin: 0 0 4px 4px;
  .card-actions-link {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: $bc-white;
    transition: all 0.1s ease-in-out;
  }
  .card-actions-link:hover {
    cursor: pointer;
    font-weight: bold;
  }
  .card-actions-link + .card-actions-link {
    margin-left: 30px;
  }
  .like {
    color: $txt-c-lightpurple;
  }
  .details {
    a {
      text-decoration: none;
      color: $txt-c-lightyellow;
    }
  }
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0;
}
