<mat-card id="card-wrapper" class="card-wrapper">
  <mat-card-header class="card-header">
    <mat-card-title>{{ car.model }}</mat-card-title>
    <mat-card-subtitle>{{ car.brand }}</mat-card-subtitle>
    <button
      *ngIf="car.liked"
      mat-icon-button
      color="warn"
      aria-label="heart icon"
      (click)="changeCar(car)"
    >
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="card-content">
    <img
      class="card-content-img"
      mat-card-image
      src="{{ car.image }}"
      alt="{{ 'Photo of a' + car.model }}"
    />
  </mat-card-content>
  <mat-card-actions class="card-actions" *ngIf="showButtons">
    <button class="card-actions-link like" (click)="changeCar(car)">
      {{ !car.liked ? "Like" : "Dislike" }}
    </button>
    <button class="card-actions-link details">Details</button>
  </mat-card-actions>
</mat-card>
