:root {
  /* background */
  --bc-lightgray: #d3d3d3;
  --bc-purple: #512da7;
  --bc-white: #fff;

  /* text */
  --txt-c-white: var(--bc-white);
  --txt-c-black: #000;
  --txt-c-grey: #808080;
  --txt-c-red: #ff0000;
  --txt-c-lightyellow: #ffd765;
  --txt-c-lightpurple: #563b98;

  /* border */
  --b-c-lightpurple: var(--txt-c-lightpurple);
  --b-c-lightgray: #dbdbdb;
  --b-c-purple: var(--bc-purple);
}
