@import '../../styles/colors.scss';

.awesome-cars {
  position: fixed;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  background-color: $bc-purple;
  font-family: "Playball-Regular", Roboto, "Helvetica Neue", sans-serif;
  font-size: 40px;
  color: $txt-c-white;
  z-index: 100;
  span {
    padding-left: 15px;
  }
}
.nav-wrapper {
  height: 100%;
  position: fixed;
  width: 80px;
  max-width: 80px;
  margin-top: 65px;
  background-color: $bc-purple;
  z-index: 100;
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      width: 91%;
      display: flex;
      margin-top: 25px;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: $txt-c-white;
      border-right: 5px solid $b-c-purple;
      .mat-icon {
        height: 22px;
        width: 22px;
      }
    }
    .a-active {
      border-right: 5px solid $b-c-white;
    }
    a:hover {
      color: $txt-c-red;
    }
  }
}

.sidenav-container {
  height: 100%;
}