.awesome-cars {
  position: fixed;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  background-color: var(--bc-purple);
  font-family: "Playball-Regular", Roboto, "Helvetica Neue", sans-serif;
  font-size: 40px;
  color: var(--txt-c-white);
  z-index: 100;
  span {
    padding-left: 15px;
  }
}
.nav-wrapper {
  height: 100%;
  position: fixed;
  width: 80px;
  max-width: 80px;
  margin-top: 65px;
  background-color: var(--bc-purple);
  z-index: 100;
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      display: flex;
      margin-top: 25px;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: var(--txt-c-white);
      .mat-icon {
        height: 22px;
        width: 22px;
      }
    }
    a:hover {
      color: var(--txt-c-red);
    }
  }
}

.sidenav-container {
  height: 100%;
  padding-bottom: 40px;
}