<div class="awesome-cars">
  <span>Awesome Cars</span>
</div>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <div class="nav-wrapper">
      <nav>
        <a
          id="home-link"
          #link1
          [class.a-active]="link1 === activeLink"
          routerLink=""
          routerLinkActive="a-active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="onSelectLink(link1)"
          ><mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon
          ><span>Home</span></a
        >
        <a
          #link2
          [class.a-active]="link2 === activeLink"
          routerLinkActive="a-active"
          routerLink="/cars"
          (click)="onSelectLink(link2)"
          ><mat-icon aria-label="cars icon">directions_car</mat-icon>Cars</a
        >
        <a
          #link3
          [class.a-active]="link3 === activeLink"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="a-active"
          routerLink="/dealers"
          (click)="onSelectLink(link3)"
          ><mat-icon aria-label="dealers icon">stars</mat-icon>Dealers</a
        >
      </nav>
    </div>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
