@import "../../../../styles/colors.scss";

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  .dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
}

.car-description {
  height: 100px;
  width: 400px;
  margin-bottom: 10px;
}

.error {
  color: $txt-c-red;
}
