<!-- Add Dialog -->
<div class="add-dealer-dialog" *ngIf="data.dialogueType === 'addDialog'">
  <h1 mat-dialog-title>Add Dealer</h1>
  <div mat-dialog-content>
    <!-- Form Group, Form Control -->

    <!-- <form [formGroup]="addDealerForm" class="add-dealer-form">
    <mat-form-field class="full-width">
      <mat-label>Id *</mat-label>
      <input type="text" matInput formControlName="id" />
      <mat-error *ngIf="idNameFormControl.hasError('required')">
        Id is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Name *</mat-label>
      <input
        type="text"
        matInput
        formControlName="name"
        placeholder="Ex. Ford"
      />
      <mat-error *ngIf="idNameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Headquarters</mat-label>
      <input
        type="text"
        matInput
        formControlName="headquarters"
        placeholder="Ex. Dearborn, Michigan"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Country</mat-label>
      <input
        type="text"
        matInput
        formControlName="country"
        placeholder="Ex. United States"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Founded in</mat-label>
      <input
        type="text"
        matInput
        formControlName="foundedIn"
        placeholder="Ex. 1903"
      />
    </mat-form-field>
  </form> -->

    <!-- ngModel -->
    <div class="add-dealer-form">
      <mat-form-field class="full-width">
        <mat-label>Id *</mat-label>
        <input type="text" matInput #idInput [(ngModel)]="id" />
        <mat-hint class="error" *ngIf="idInput.value === ''"
          >Id is <strong>required</strong></mat-hint
        >
      </mat-form-field>
      <div #error *ngFor="let dealer of dealers">
        <mat-hint class="error" *ngIf="dealer.id === id">
          The id is already <strong>taken</strong>
        </mat-hint>
      </div>
      <mat-form-field class="full-width">
        <mat-label>Name *</mat-label>
        <input type="text" matInput #nameInput [(ngModel)]="name" />
        <mat-hint class="error" *ngIf="nameInput.value === ''"
          >Id is <strong>required</strong></mat-hint
        >
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Headquarters</mat-label>
        <input type="text" matInput [(ngModel)]="headquarters" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Country</mat-label>
        <input type="text" matInput [(ngModel)]="country" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Founded in</mat-label>
        <input type="text" matInput [(ngModel)]="foundedIn" />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-button class="cancel-btn" (click)="close()">Cancel</button>
    <button
      mat-button
      [disabled]="idInput.value === '' || nameInput.value === ''"
      (click)="saveDealer(data.dialogueType)"
    >
      Save
    </button>
  </div>
</div>

<!-- ngModel - Edit Dialog -->
<div class="edit-dealer-dialog" *ngIf="data.dialogueType === 'editDialog'">
  <h1 mat-dialog-title>Edit Dealer</h1>
  <div mat-dialog-content>
    <div class="add-dealer-form">
      <mat-form-field class="full-width">
        <mat-label>Id</mat-label>
        <input
          type="text"
          disabled
          [ngModel]="data.dealer.id"
          matInput
          #idInput
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Name *</mat-label>
        <input type="text" matInput #nameInput [ngModel]="data.dealer.name" (ngModelChange)="name = $event" />
        <mat-hint class="error" *ngIf="nameInput.value === ''"
          >Id is <strong>required</strong></mat-hint
        >
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Headquarters</mat-label>
        <input type="text" matInput [ngModel]="data.dealer.headquarters" (ngModelChange)="headquarters = $event" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Country</mat-label>
        <input type="text" matInput [ngModel]="data.dealer.country" (ngModelChange)="country = $event" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Founded in</mat-label>
        <input type="text" matInput [ngModel]="data.dealer.foundedIn" (ngModelChange)="foundedIn = $event" />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-button class="cancel-btn" (click)="close()">Cancel</button>
    <button
      mat-button
      [disabled]="nameInput.value === ''"
      (click)="saveDealer(data.dialogueType)"
    >
      Save
    </button>
  </div>
</div>
