@import "../../../../styles/colors.scss";

.dealer-form {
  min-width: 335px;
  display: flex;
  flex-direction: column;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  button {
    padding: 10px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
  button + button {
    margin-left: 10px;
  }
  .cancel-btn:hover {
    background-color: rgb(233, 233, 233);
  }
}

.validId {
  .full-width {
    width: 100%;
  }
}

.error {
  font-size: 11px;
  color: $txt-c-red;
}
