<!-- If toggle === true -->
<div class="filter-toggle">
  <form class="search-form" *ngIf="!categoryView">
    <mat-form-field class="filter-field">
      <mat-label>Filter by car brand or model</mat-label>
      <input
        matInput
        #filterInput
        placeholder="Ex. Ford"
        [formControl]="filterControl"
      />
      <button
        mat-button
        *ngIf="filterInput.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearFilter(); filterInput.value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <div>
    <mat-tab-group
      animationDuration="0ms"
      *ngIf="categoryView"
      (selectedTabChange)="getCarsOnCategory($event)"
    >
      <mat-tab
        class="category"
        *ngFor="let category of carsCategory"
        label="{{ category.charAt(0).toUpperCase() + category.slice(1) }}"
      >
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="toggle" [class.toggle-active]="categoryView">
    <mat-slide-toggle (click)="changeCategoryView(!categoryView)"
      >View By Category</mat-slide-toggle
    >
  </div>
</div>
<section
  class="cars-by-category"
  *ngIf="categoryView && selectedCarsOnCategory"
>
  <div class="cars-list" *ngIf="categoryView && selectedCarsOnCategory">
    <mat-selection-list #cars [multiple]="false" id="selectedCars">
      <mat-list-option
        *ngFor="let car of selectedCarsOnCategory; let i = index"
        [selected]="car && i == 0"
        (click)="selectCar(car)"
      >
        <h3>{{ car.model }}</h3>
        <p>{{ car.brand | titlecase}}</p>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <app-car-details
    [carDetailsPage]="shownButtons"
    [car]="selectedCar"
  ></app-car-details>
</section>
<!-- If toggle === false -->
<div *ngIf="notFound" class="not-found">
  <span><strong>Cars Not Found</strong></span>
</div>
<section class="cars" *ngIf="!categoryView && !notFound">
  <mat-spinner *ngIf="!loaded" class="spinner"></mat-spinner>
  <app-card
    class="card"
    *ngFor="let car of filteredCars.length === 0 ? trimmedCars : filteredCars"
    [car]="car"
    [dealers]="dealers"
    (likedCar)="likeOrDislikeCar(car)"
  ></app-card>
</section>
<div class="load-more" *ngIf="!categoryView">
  <button
    class="load-more-btn"
    mat-raised-button
    color="accent"
    *ngIf="trimmedCars.length > 7 && !notFound"
    (click)="cars.length !== trimmedCars.length ? loadMore() : rollUp()"
  >
    {{ cars.length === trimmedCars.length ? "Roll Up" : "Load More" }}
  </button>
</div>
