<!-- If toggle === true -->
<div class="filter-toggle">
  <app-cars-filter
    *ngIf="!categoryView"
    (filterValue)="filterOut($event)"
  ></app-cars-filter>
  <div>
    <mat-list role="list" *ngIf="categoryView">
      <mat-list-item
        class="category"
        role="listitem"
        *ngFor="let category of carsCategory"
        (click)="getCarsOnCategory(category)"
        >{{
          category.charAt(0).toUpperCase() + category.slice(1)
        }}</mat-list-item
      >
    </mat-list>
  </div>
  <div class="toggle">
    <mat-slide-toggle (click)="changeCategoryView(!categoryView)"
      >View By Category</mat-slide-toggle
    >
  </div>
</div>
<section class="cars-by-category" *ngIf="categoryView && selectedCarsOnCategory">
  <div class="cars-list" *ngIf="categoryView && selectedCarsOnCategory">
    <mat-selection-list #cars [multiple]="false" id="selectedCars">
      <mat-list-option
        *ngFor="let car of selectedCarsOnCategory"
        (click)="selectCar(car)"
      >
        <h3>{{ car.model }}</h3>
        <p>{{ car.brand }}</p>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <app-car-details [car]="defaultCar || selectedCar"></app-car-details>
</section>
<!-- If toggle === false -->
<section class="cars" *ngIf="!categoryView">
  <app-card
    class="card"
    *ngFor="let car of filteredCars.length === 0 ? trimmedCars : filteredCars"
    [car]="car"
  ></app-card>
</section>
<div class="load-more" *ngIf="!categoryView">
  <button
    class="load-more-btn"
    mat-raised-button
    color="accent"
    *ngIf="filteredCars.length === 0"
    (click)="cars.length !== trimmedCars.length ? loadMore() : rollUp()"
  >
    {{ cars.length === trimmedCars.length ? "Roll Up" : "Load More" }}
  </button>
</div>
