@import '../../../styles/colors.scss';

// If View cars by category (toggle) === false
.cars {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    max-width: 24%;
  }
}

.load-more {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  .load-more-btn {
    margin-bottom: 20px;
  }
}

// If View cars by category (toggle) === true
.filter-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  color: $txt-c-grey;
}

.toggle-active {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 12px 0;
  border-bottom: 1px solid $b-c-lightgray;
}

.cars-by-category {
  display: flex;
  div + div {
    margin-left: 15px;
  }
}

.cars-list {
  width: 350px;
  padding-left: 105px;
}

.mat-list-base {
  display: flex;
}

.mat-list-item {
  color: $txt-c-grey;
  cursor: pointer;
  border-bottom: 2px solid $b-c-lightgray;
}

.mat-list-item:hover {
  background-color: $bc-lightgray;
  border-bottom: 2px solid $b-c-lightpurple;
}

#selectedCars {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  .mat-list-option {
    border: none;
    color: $txt-c-black;
    h3 {
      font-weight: bold;
    }
  }
}

.spinner {
  position: absolute;
  top: 50%;
  right: 45%;
  z-index: 100;
}

.sads {
  margin-top: 500px;
}