<div class="home-wrapper">
  <section class="cars-i-like">
    <h4>Cars I like</h4>
    <hr />
    <div class="card-wrapper">
      <div *ngFor="let car of cars">
        <div class="liked-cars" *ngIf="car.liked">
          <mat-card class="card">
            <mat-card-header class="card-header">
              <mat-card-title>{{ car.model }}</mat-card-title>
              <mat-card-subtitle>{{ car.brand }}</mat-card-subtitle>
              <button
                *ngIf="car.liked"
                mat-icon-button
                color="warn"
                aria-label="heart icon"
                (click)="dislikeCar(car)"
              >
                <mat-icon>favorite</mat-icon>
              </button>
            </mat-card-header>
            <mat-card-content class="card-content">
              <img
                class="card-content-img"
                mat-card-image
                src="{{ car.image }}"
                alt="{{ 'Photo of a' + car.model }}"
              />
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
  <section class="my-cars">
    <h4>My Cars</h4>
    <hr />
    <p>You haven't added any cars yet.</p>
  </section>
  <section class="my-dealers">
    <h4>My Dealers</h4>
    <hr />
    <p>You haven't added any dealers yet.</p>
  </section>
  <section class="actions">
    <button mat-raised-button color="accent">Add Car</button>
    <button mat-raised-button color="primary">Add Dealer</button>
  </section>
</div>
