<div class="home-wrapper">
  <section class="cars-i-like">
    <h4>Cars I like</h4>
    <div class="card-wrapper">
      <div *ngFor="let car of cars">
        <div class="liked-cars" *ngIf="car.liked">
          <app-card class="card" [car]="car" [showButtons]="false" height="200px"></app-card>
        </div>
      </div>
    </div>
  </section>
  <section class="my-cars">
    <h4>My Cars</h4>
    <p>You haven't added any cars yet.</p>
  </section>
  <section class="my-dealers">
    <h4>My Dealers</h4>
    <p>You haven't added any dealers yet.</p>
  </section>
  <section class="actions">
    <button mat-raised-button color="accent">Add Car</button>
    <button mat-raised-button color="primary">Add Dealer</button>
  </section>
</div>
